@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
body {
  background-color: #212121;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
