@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
body {
  background-color: #212121;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #fff;
  color: #212121;
  text-align: center;
  font-size: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.card * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
